<div class="row">
    <!-- Active Projects -->
    <div class="col-lg-12 col-xxxl-6">
        <app-profile-active-projects />
    </div>
    <!-- Upcoming Projects -->
    <div class="col-lg-12 col-xxxl-6">
        <app-profile-upcoming-projects />
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xxxl-6">
        <app-profile-active-tasks />
    </div>

    <div class="col-lg-12 col-xxxl-6">
        <app-profile-upcoming-tasks />
    </div>
    
    <div class="col-lg-12 col-xxxl-6">
        
    </div>

</div>
