
@use '@angular/material' as mat;

@include mat.core();

$rpm-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$rpm-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$rpm-warn: mat.m2-define-palette(mat.$m2-red-palette);

$rpm-theme: mat.m2-define-light-theme((
    color: (
        primary: $rpm-primary,
        accent: $rpm-accent,
        warn: $rpm-warn,
    )
));

@include mat.all-component-themes($rpm-theme);

:root {
    --fontFamily: 'Outfit', sans-serif;
    --rpmColor: #233e66;
    --primaryColor: #796df6;
    --dangerColor: #e74c3c;
    --infoColor: #00cae3;
    --warningColor: #ffb264;
    --successColor: #2ed47e;
    --blackColor: #242424;
    --whiteColor: #ffffff;
    --bodyColor: #313131;
    --week1Color: #d159cb;
    --week2Color: #28a7f1;
    --week3Color: #f1b028;
    --week4Color: #5e28f1;
    --week5Color: #f12828;
    --week6Color: #28daf1;
    --week7Color: #28f139;
    --transition: .5s;
    --fontSize: 16px;
    --borderBoxShadow: rgba(0, 0, 0, .05) 0px 6px 24px 0px, rgba(0, 0, 0, .08) 0px 0px 0px 1px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: var(--blackColor);
    background-color: #202020;
    font: {
        weight: 400;
        size: var(--fontSize);
        family: var(--fontFamily);
    };
}
a {
    transition: var(--transition);
    color: var(--blackColor);
    text-decoration: none;
    outline: 0 !important;

    &:hover {
        text-decoration: none;
        color: var(--rpmColor);
    }
}
.rpm-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
img {
    max-width: 100%;
    height: auto;
}
input {
    font: {
        family: var(--fontFamily);
        size: var(--fontSize);
    };
}
button {
    font: {
        family: var(--fontFamily) !important;
        size: var(--fontSize) !important;
    };
}
.mb-25 {
    margin-bottom: 25px !important;
}

// Utilities CSS
@import "./utilities";

// UI Kit CSS
@import "./ui-kit";

// Typography CSS
@import "./typography";

// RTL CSS
@import "./rtl";

// Dark CSS
@import "./dark";

/* Max width 767px */
@media only screen and (max-width : 767px) {

    body {
        font-size: 14px;
    }
    .mb-25 {
        margin-bottom: 15px !important;
    }
    button {
        font-size: 14px !important;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .mb-25 {
        margin-bottom: 20px !important;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    body {
        font-size: 15px;
    }
    button {
        font-size: 15px !important;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}